*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
div{
    gap:10px;
    display:grid;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgba(75, 250, 241, 0.448);
}
button{
    background-color: rgb(255, 179, 0);
    box-shadow: rgba(0, 0, 0, 0.297);
    border-radius: 4px;
}
.titulo{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
input{
    text-align: center;
    background-color: rgb(81, 255, 81);
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: rgba(69, 68, 68, 0.145);
}


